<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css" />
  <title>Lina's Studio</title>
</head>

<body>
  <div class="grid-container">
    <header class="header">
      <div class="brand">
        <button onclick="openMenu()">
          &#9776;
        </button>
        <a href="index.html">Lina's Studio</a>
      </div>
      <div class="header-links">
        <a href="cart.html">Cart</a>
        <a href="signin.html">Sign In</a>
      </div>
    </header>
    <aside class="sidebar">
      <h3>Shopping Categories</h3>
      <button class="sidebar-close-button" onclick="closeMenu()">x</button>
      <ul>
        <li>
          <a href="index.html">Suits</a>
        </li>

        <li>
          <a href="index.html">Sarees</a>
        </li>
        <li>
          <a href="index.html">Stoles and Scarfs</a>
        </li>
        <li>
          <a href="index.html">Ethnic and Fusionwear</a>
        </li>
        <li>
          <a href="index.html">Westernwear</a>
        </li>
        <li>
          <a href="index.html">Sleepwear and Loungewear</a>
        </li>
        <li>
          <a href="index.html">Sports and Activewear</a>
        </li>
        <li>
          <a href="index.html">Bags Wallets and Clutches</a>
        </li>
        <li>
          <a href="index.html">Footwear</a>
        </li>
        <li>
          <a href="index.html">Other Accessories</a>
        </li>


      </ul>
    </aside>
    <main class="main">
      <div class="content">
        <ul class="products">
          <li>
            <div class="product">
              <img class="product-image" src="images/cotton1.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Suits</a>
              </div>
              <div class="product-brand">Stella Mcartney</div>
              <div class="product-price">Rs 1200</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/WhatsApp Image 2020-07-09 at 9.58.52 PM.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Suits</a>
              </div>
              <div class="product-brand">Prada</div>
              <div class="product-price">Rs 1000</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/WhatsApp Image 2020-07-09 at 9.58.53 PM.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Suits</a>
              </div>
              <div class="product-brand">Urban Desi</div>
              <div class="product-price">Rs 900</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/WhatsApp Image 2020-07-12 at 10.24.39 PM.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Stoles</a>
              </div>
              <div class="product-brand"></div>
              <div class="product-price">Rs 600</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/WhatsApp Image 2020-07-12 at 10.24.38 PM.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Sarees</a>
              </div>
              <div class="product-brand">Dior</div>
              <div class="product-price">Rs 1000</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/WhatsApp Image 2020-07-12 at 10.24.41 PM.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Other Accessories</a>
              </div>
              <div class="product-brand">Urban</div>
              <div class="product-price">Rs 700</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>

        </ul>
      </div>

    </main>
    <footer class="footer">
      Attire That You Desire <br>
         All right reserved.
    </footer>
  </div>
  <script>
    function openMenu() {
      document.querySelector(".sidebar").classList.add("open");
    }
    function closeMenu() {
      document.querySelector(".sidebar").classList.remove("open")
    }
  </script>
</body>

</html>